app-name: weather-app
base-dir: /Users/tien.tan
tracing:
  zipkin_url: http://localhost:9411/api/v2/spans
server:
  host: localhost
  port: 8080
database:
  dialect: mysql
  dsn: root:root@/weather?charset=utf8
grpc:
  port: 50051
  clients:
    city_service: localhost:50051
    weather_service: localhost:50051