server:
  host: 127.0.0.1
  port: 8080
database:
  dialect: mysql
  dsn: root:root@/weather?charset=utf8
grpc:
  port: 50051
  clients:
    city_service: localhost:50051
    weather_service: localhost:50051